#main_title{
    text-align: center;
}
#author{
    text-align: center;
    margin-left: 15%;
}

body{
    background-color: antiquewhite;
}

header{
    margin-bottom: 5%;
}

footer{
    margin-bottom: 5%;
}

section{
    margin-bottom: 3%;
}

input{
    margin-bottom: 1%;
}

#path_config_model, #deepsort_tracker_model{
    margin-bottom: 0.5%;
}

#text_area_json{
    margin-top: 2%;
}

#text_area_json_btn{
    margin-top: 5%;
    margin-bottom: 2%;
}

.indent {
    margin-left: 3%;
}
