numpy~=1.19.3
scikit-image~=0.17.2
filterpy~=1.4.5
scipy~=1.5.4
tensorflow~=2.4.0
pillow~=8.0.1
setuptools~=50.3.2
PyTurboJPEG==1.4.1
lap==0.4.0
torch==1.7.1+cu110 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2+cu110 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cu110/torch1.7/index.html # not working on Windows 10